openapi: 3.1.0
info:
  title: Verivyx Content Hydration Service
  version: "1.0"
  description: |
    Serves the real article body to authorized requesters. A request is
    authorized by **any** of three paths, checked in order:

    1. **Standard x402 payment header** — `PAYMENT-SIGNATURE` (x402 v2) or
       `X-PAYMENT` (legacy). The service verifies + settles via the gateway and
       serves the body.
    2. **Human session JWT** — `Authorization: Bearer <token>` issued by
       `/api/v1/auth/verify-human` (must match the requested domain).
    3. **Paid x402 session** — a prior `/payment/settle` opened a session for the
       `(domain, slug)`.

    If none apply, responds `402 Payment Required` with the x402 `PaymentRequired`
    body (and the `PAYMENT-REQUIRED` header). When the paywall is disabled the
    service returns a passthrough success without the body. Fail-closed: if the
    body cannot be fetched, responds `502 content_unavailable`.
servers:
  - url: https://api.verivyx.com
    description: Production
tags:
  - name: content
    description: Content hydration (public)
paths:
  /api/v1/content/health:
    get:
      operationId: contentHealth
      tags: [content]
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }

  /api/v1/content/hydrate:
    post:
      operationId: hydrateContent
      tags: [content]
      summary: Fetch the article body for an authorized requester
      description: |
        Provide one of: `PAYMENT-SIGNATURE`/`X-PAYMENT` header,
        `Authorization: Bearer <human session JWT>`, or rely on an existing paid
        session for the `(domain, slug)`.
      security:
        - x402Payment: []
        - humanSession: []
        - {}
      parameters:
        - name: PAYMENT-SIGNATURE
          in: header
          required: false
          description: x402 v2 signed payment header. Alternative to X-PAYMENT.
          schema: { type: string }
        - name: X-PAYMENT
          in: header
          required: false
          description: Legacy signed payment header.
          schema: { type: string }
        - name: X-JA4
          in: header
          required: false
          description: Optional TLS fingerprint forwarded by the edge (telemetry).
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain, slug]
              properties:
                domain: { type: string, example: example.com }
                slug: { type: string, example: my-article }
      responses:
        "200":
          description: |
            Authorized. `served` indicates how: `passthrough` (paywall off,
            no body), `paid_agent` or `human` (body included). When paid via the
            x402 header, also sets the `PAYMENT-RESPONSE` header.
          headers:
            PAYMENT-RESPONSE:
              description: Base64 settlement details (paid_agent via x402 header).
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  served:
                    type: string
                    enum: [passthrough, paid_agent, human]
                  transaction: { type: string, description: Present for paid_agent. }
                  html: { type: string, description: The rendered article body (omitted for passthrough). }
              examples:
                paidAgent:
                  value: { status: success, served: paid_agent, transaction: "abc123...", html: "<p>...</p>" }
                human:
                  value: { status: success, served: human, html: "<p>...</p>" }
                passthrough:
                  value: { status: success, served: passthrough }
        "400":
          description: Invalid payload or missing domain/slug.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "402":
          description: |
            Payment or human session required. Body is the x402 `PaymentRequired`
            object (fetched from the gateway); the `PAYMENT-REQUIRED` header is set.
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded PaymentRequired body.
              schema: { type: string }
            X-Paywall-Quote:
              description: URL of the gateway requirements endpoint for this resource.
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: x402 PaymentRequired body, with an added `error` field on invalid payment.
        "404":
          description: Domain not registered.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "502":
          description: Content unavailable (fail-closed — body fetch failed).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: content_unavailable }
components:
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: |
        Signed x402 payment payload. The x402 v2 header `PAYMENT-SIGNATURE` is
        also accepted and takes precedence.
    humanSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Human session JWT from /api/v1/auth/verify-human, scoped to a domain.
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
        agent: { type: string }
