openapi: 3.1.0
info:
  title: Verivyx Playground Agent
  version: "1.0"
  description: |
    Backs the public x402 playground: a sandboxed AI agent with a funded testnet
    wallet that pays for a demo x402 resource. Sessions are Turnstile-gated and
    capped; chat responses stream as Server-Sent Events.
servers:
  - url: https://playground.verivyx.com
    description: Production
tags:
  - name: playground
    description: Sandboxed agent sessions and demo resource
paths:
  /api/v1/playground/health:
    get:
      operationId: playgroundHealth
      tags: [playground]
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: playground-agent }
                  sessions: { type: integer }
                  model: { type: string }

  /api/v1/playground/demo/{slug}:
    get:
      operationId: getDemoResource
      tags: [playground]
      summary: The x402-protected demo resource the agent pays for
      description: Returns the demo content when paid, or a 402 with x402 requirements otherwise.
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Demo content (when paid).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        "402":
          description: Payment required (x402).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        "500":
          description: Demo error.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /api/v1/playground/session:
    post:
      operationId: startPlaygroundSession
      tags: [playground]
      summary: Start a sandboxed agent session
      description: Verifies Turnstile, hands out a funded testnet wallet, and spawns the agent's MCP session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [turnstileToken]
              properties:
                turnstileToken: { type: string }
      responses:
        "200":
          description: Session started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId: { type: string }
                  walletAddress: { type: string }
                  balances:
                    type: object
                    properties:
                      usdc: { type: string }
                      xlm: { type: string }
                  demoSlug: { type: string }
                  network: { type: string, example: "stellar:testnet" }
                  model: { type: string }
        "403":
          description: Captcha failed.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "429":
          description: Too many active sessions.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "500":
          description: Session start failed.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /api/v1/playground/chat:
    post:
      operationId: playgroundChat
      tags: [playground]
      summary: Send a chat turn (streams agent + payment events as SSE)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, message]
              properties:
                sessionId: { type: string }
                message: { type: string }
      responses:
        "200":
          description: |
            SSE stream of agent events. Each line is `data: <json>`; the stream
            ends with `data: [DONE]`. Event types include agent tokens, payment
            events, balances, and error.
          content:
            text/event-stream:
              schema: { type: string }
        "400":
          description: Empty message.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "404":
          description: Session not found.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "409":
          description: Session busy.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
components:
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        detail: { type: string }
