openapi: 3.1.0
info:
  title: Verivyx x402 Payment Gateway
  version: "2.0"
  description: |
    The Verivyx payment gateway implements the **x402 v2** protocol for paid
    content access on the Stellar network. AI agents and HTTP clients discover
    payment requirements, then verify and settle micropayments in USDC.

    ## Payment flow
    1. `GET /requirements` → `402 Payment Required` with the `accepts[]` options.
    2. Build and sign a Stellar payment for one of the accepted requirements.
    3. `POST /verify` (optional dry-run) then `POST /settle` with the signed
       payment in the request body. Settlement opens a 1-hour paid session for
       the `(domain, slug)` pair.

    Two requirements are always advertised: a **Soroban USDC** path (fees
    sponsored by Verivyx; the agent makes one transfer to the paywall contract,
    which splits on-chain) and a **classic Stellar USDC** path (the agent builds
    two payment operations splitting creator/platform itself).

    ## x402 headers
    - Response `PAYMENT-REQUIRED` / `X-Payment-Required`: base64 of the
      `PaymentRequired` body (carried on 402 responses).
    - Request `X-PAYMENT` / `PAYMENT-SIGNATURE`: the signed payment payload
      (used on the hydration service, not on these gateway endpoints — the
      gateway takes the payload in the JSON body).
    - Response `PAYMENT-RESPONSE`: base64 of the `SettlementResponse`.
servers:
  - url: https://api.verivyx.com
    description: Production
tags:
  - name: discovery
    description: Payment requirement discovery (public)
  - name: settlement
    description: Verify and settle payments (internal/service-to-service only)
paths:
  /api/v1/payment/health:
    get:
      operationId: paymentHealth
      tags: [discovery]
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  facilitator_mode: { type: string, example: live }

  /api/v1/payment/requirements:
    get:
      operationId: getRequirements
      tags: [discovery]
      summary: Get payment requirements for a resource
      description: |
        Returns the x402 `PaymentRequired` body and sets the `PAYMENT-REQUIRED`
        (base64) response header. Returns `402` when the domain's paywall is
        enabled, or `200` with the same body when the paywall is toggled off.
      security: []
      parameters:
        - name: domain
          in: query
          required: true
          schema: { type: string, example: example.com }
        - name: slug
          in: query
          required: false
          schema: { type: string, example: my-article }
      responses:
        "402":
          description: Payment required (paywall enabled).
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded PaymentRequired body.
              schema: { type: string }
            X-Payment-Required:
              description: Same value as PAYMENT-REQUIRED (canonical casing).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentRequired" }
        "200":
          description: Paywall disabled — content is free; body is informational.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentRequired" }
        "400":
          description: Missing domain.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: domain required }
        "404":
          description: Domain not registered with Verivyx.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: domain_not_registered }

  /api/v1/payment/quote:
    get:
      operationId: getQuote
      tags: [discovery]
      summary: Quote the price for a domain
      security: []
      parameters:
        - name: domain
          in: query
          required: true
          schema: { type: string, example: example.com }
      responses:
        "200":
          description: Pricing for the domain.
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain: { type: string, example: example.com }
                  pricePerRequest: { type: number, example: 0.01 }
                  amountAtomic: { type: string, description: Price in 7-decimal atomic USDC units., example: "100000" }
                  paywallEnabled: { type: boolean }
                  asset: { type: string, example: "USDC:GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5" }
                  network: { type: string, example: "stellar:testnet" }
                  destination: { type: string, example: "GA..." }
        "400":
          description: Missing domain.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "404":
          description: Domain not registered.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /api/v1/payment/verify:
    post:
      operationId: verifyPayment
      tags: [settlement]
      summary: Verify a signed payment (dry-run, no settlement) — internal only
      description: |
        Validates a signed payment against the reconstructed requirement without
        submitting it on-chain. **Internal/service-to-service only.** Requires
        the `X-Internal-Token` header. External callers receive `401`.
      security:
        - internalTokenAuth: []
      parameters:
        - $ref: "#/components/parameters/PaywallDomainHeader"
        - $ref: "#/components/parameters/PaywallSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FacilitatorRequest" }
      responses:
        "200":
          description: Verification result from the facilitator.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerifyResponse" }
        "400":
          description: Invalid payload or unsupported x402 version.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "404":
          description: Domain not registered.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "422":
          description: No matching requirement could be reconstructed.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "502":
          description: Facilitator unreachable.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /api/v1/payment/settle:
    post:
      operationId: settlePayment
      tags: [settlement]
      summary: Settle a signed payment on-chain — internal only
      description: |
        Submits the signed payment to the facilitator, distributes the
        creator/platform split, and opens a 1-hour paid session for the
        `(domain, slug)`. Supply an `Idempotency-Key` to make retries safe — a
        repeat with the same key replays the cached response instead of
        re-charging; a repeat with a different body returns `422`.
        **Internal/service-to-service only.** Requires the `X-Internal-Token`
        header. External callers receive `401`.
      security:
        - internalTokenAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Up to 256 chars. Enables safe retries (24h replay window).
          schema: { type: string }
        - $ref: "#/components/parameters/PaywallDomainHeader"
        - $ref: "#/components/parameters/PaywallSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FacilitatorRequest" }
      responses:
        "200":
          description: Settlement result. Also sets the `PAYMENT-RESPONSE` header (base64).
          headers:
            PAYMENT-RESPONSE:
              description: Base64-encoded SettlementResponse.
              schema: { type: string }
            Idempotent-Replayed:
              description: Present and "true" when this is an idempotent replay.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementResponse" }
        "400":
          description: Invalid payload, unsupported version, or idempotency key too long.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "422":
          description: Idempotency key reused with a different body, or no matching requirement.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "502":
          description: Facilitator unreachable.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /api/v1/payment/supported:
    get:
      operationId: getSupported
      tags: [discovery]
      summary: List facilitator-supported schemes/networks
      security: []
      responses:
        "200":
          description: Supported schemes and networks from the facilitator.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        "502":
          description: Facilitator unreachable.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

components:
  securitySchemes:
    internalTokenAuth:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: Shared secret for internal/service-to-service calls. Never expose to external clients.
  parameters:
    PaywallDomainHeader:
      name: X-Paywall-Domain
      in: header
      required: false
      description: Optional domain hint used to reconstruct the requirement server-side.
      schema: { type: string }
    PaywallSlugHeader:
      name: X-Paywall-Slug
      in: header
      required: false
      description: Optional slug hint used to reconstruct the requirement server-side.
      schema: { type: string }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        detail: { type: string }
        details: { type: string }
    ResourceInfo:
      type: object
      properties:
        url: { type: string, example: "https://example.com/my-article" }
        description: { type: string }
        mimeType: { type: string, example: text/html }
    PaymentRequirement:
      type: object
      description: A single accepted payment option.
      properties:
        scheme: { type: string, example: exact }
        network: { type: string, description: CAIP-2 network id., example: "stellar:testnet" }
        amount: { type: string, description: "Canonical x402 v2 atomic USDC amount.", example: "100000" }
        maxAmountRequired: { type: string, description: "x402 v1 field name carrying the same value, emitted for v1-client interop.", example: "100000" }
        asset: { type: string, description: Soroban contract id or "USDC:ISSUER" for classic. }
        payTo: { type: string, description: "Destination address (paywall contract for Soroban, creator address for classic)." }
        maxTimeoutSeconds: { type: integer, example: 60 }
        resource: { type: string }
        description: { type: string }
        mimeType: { type: string }
        extra:
          type: object
          description: |
            Settlement hints. Soroban entry: `areFeesSponsored: true`,
            `distribution` (informational creator/platform split), `domain`,
            `paywallContract`. Classic entry: `areFeesSponsored: false`,
            `splitPayments` (the two ops the client must build).
          additionalProperties: true
    PaymentRequired:
      type: object
      properties:
        x402Version: { type: integer, enum: [2] }
        error: { type: string, example: "X-PAYMENT header is required" }
        resource: { $ref: "#/components/schemas/ResourceInfo" }
        accepts:
          type: array
          items: { $ref: "#/components/schemas/PaymentRequirement" }
        extensions:
          type: object
          additionalProperties: true
    PaymentPayload:
      type: object
      properties:
        x402Version: { type: integer, enum: [2] }
        scheme: { type: string }
        network: { type: string }
        resource: { $ref: "#/components/schemas/ResourceInfo" }
        accepted: { $ref: "#/components/schemas/PaymentRequirement" }
        payload:
          type: object
          description: Signed transaction envelope (e.g. { transaction, payer }).
          additionalProperties: true
        extensions:
          type: object
          additionalProperties: true
    FacilitatorRequest:
      type: object
      required: [x402Version, paymentPayload, paymentRequirements]
      properties:
        x402Version: { type: integer, enum: [2] }
        paymentPayload: { $ref: "#/components/schemas/PaymentPayload" }
        paymentRequirements: { $ref: "#/components/schemas/PaymentRequirement" }
    VerifyResponse:
      type: object
      properties:
        isValid: { type: boolean }
        invalidReason: { type: string }
        payer: { type: string }
    SettlementResponse:
      type: object
      properties:
        success: { type: boolean }
        errorReason: { type: string }
        transaction: { type: string, description: On-chain settlement tx hash. }
        distributeTransaction: { type: string, description: On-chain split tx hash (Soroban path). }
        network: { type: string }
        payer: { type: string }
        amount: { type: string }
        extensions:
          type: object
          additionalProperties: true
